[Desktop Entry]
Version=1.0
Name=OOZO.tv
Comment=OOZO tv startup
Exec=/home/pi/OOZObox/oozo_init/oozo_init.py
Path=/home/pi/OOZObox/oozo_init/
Icon=/home/pi/OOZObox/oozo_init/oozo_icon32.png
Terminal=false
Type=Application
Categories=Network;
