# OOZO.tv files
# Crontab default file
# Juliano Piassa | Juliano@oozo.tv
# v0.96.3

*/5 * * * * /usr/bin/sudo -H /usr/local/bin/checketh.sh >> /dev/null 2>&1
*/5 * * * * /usr/bin/sudo -H /usr/local/bin/checkwifi.sh >> /dev/null 2>&1
20 16 * * * /usr/local/bin/reboot.sh
0 0 * * * /usr/local/bin/reboot.sh
01 08 * * * /usr/local/bin/NTP_update.sh
01 10 * * * /usr/local/bin/NTP_update.sh
01 12 * * * /usr/local/bin/NTP_update.sh
01 14 * * * /usr/local/bin/NTP_update.sh
01 16 * * * /usr/local/bin/NTP_update.sh
01 18 * * * /usr/local/bin/NTP_update.sh
01 20 * * * /usr/local/bin/NTP_update.sh
01 22 * * * /usr/local/bin/NTP_update.sh
59 23 * * * /usr/local/bin/NTP_update.sh
01 10 * * * /home/pi/oozo_files/update.sh
10 16 * * * /home/pi/oozo_files/update.sh 
04 15 * * * /usr/local/bin/update.sh


